.profileArea {
    border: none;
}

.contentFrame {
    padding: 0 5vw;
}

.content {
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    color: #4f4e4e;
}

.textContent {
    width: 40%;
}
