.feedbackItemArea {
    padding: 0;
    height: 100%;
}

.feedbackItemFrame {
    padding: 0;
    height: 100%;
}

.textFrame {
    padding: 0;
    max-width: 710px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.feedbackContent {
    padding: 15px 0;
    font-size: 35px;
    color: #4f4e4e
}

.feedbacker {
    padding: 15px 0;
    font-size: 17px;
    font-style: italic;
    color: #4f4e4e
}
