.workNameArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.workNameFrame {
    padding: 1vw 5vw;
}

.workName {
    font-family: 'Crimson Text', serif;
    font-size: 80px;
    color: #ffffff;
}

.companyNameFrame {
    padding: 0 5vw;
}

.companyName {
    font-size: 22px;
    color: #ffffff;
}

@media only screen and (max-width: 768px) {
    .workName {
        font-size: 60px;
    }

    .companyName {
        font-size: 16px;
    }
}

@media only screen and (max-width: 450px) {
    .workName {
        font-size: 36px;
    }

    .companyName {
        font-size: 10px;
    }
}
