.workNameArea {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.workNameFrame {
    padding: 22px 5vw;
}

.workName {
    font-family: 'Crimson Text', serif;
    font-size: 80px;
    color: #ffffff;
}

.companyNameFrame {
    padding: 0 5vw;
}

.companyName {
    font-family: 'Crimson Text', serif;
    font-size: 22px;
    color: #ffffff;
    padding: 0 10px;
}
