.view {
    display: flex;
    justify-content: center;
}

.page {
    width: 100%;
    max-width: 1260px;
}

.header {
    min-height: 100px;
}

.footer {
    min-height: 120px;
}

.body {
    padding: 0px;
}