.view {
    display: flex;
    justify-content: center;
    background-color: #e5e6ea;
}

.page {
    width: 100%;
    max-width: 1600px;
    background-color: #ffffff;
}
.work {
    background-color: #d8d0e5;
}
.about {
    background-color: #df6439;
}
.contact {
    background-color: #ecd5c9;
}

.header {
    min-height: 100px;
}

.footer {
    min-height: 120px;
}

.body {
    padding: 0px;
}

@media only screen and (max-width: 768px) {
    .page {
        width: 100%;
    }
}
