.imagesArea {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.imageArea1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imageArea2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imageFrame1 {
    padding: 2vw;
}

.imageFrame2 {
    padding: 2vw;
}

.image1 {
    width: 480px;
}

.image2 {
    width: 320px;
}
