.titleArea {
    display: flex;
    align-items: center;
}

.titleFrame {
    padding: 0 7%;
}

.title {
    font-size: 43.5px;
    color: #4f4e4e;
    line-height: 55px;
    padding-bottom: 92px;
}

.titleBold {
    font-weight: bold;
}
