.stringWithImageArea {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.stringWithImageFrame {
    padding: 40px 0;
    color: #DF6439;
}

.stringWithImageLayout {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.popped {
    z-index: 20;
    color: white;
}

.imagePlaceholder {
    position: relative;
    display: inline-block;
    height: 80px;
    margin: 0 20px;
}

.imageSmall {
    position: absolute;
    left: 0;
    bottom: 0;
}

.imageLarge {
    position: absolute;
    bottom: 0;
    left: 0;
}

.titleText {
    line-height: 80px;
    font-family: Canela Regular;
    font-size: 80px;
    position: relative;
}

.textPopped {
    z-index: 30;
}

.smallTitleTextBox {
    display: inline-block;
    vertical-align: top;
}

.smallTitleText {
    font-family: GT America Extended Medium;
    font-size: 20px;
}

.overlay {
    position: absolute;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .85;
    z-index: 10;
}

.hidden {
    visibility: hidden;
}

@media only screen and (max-width: 1023px) {
    .stringWithImageFrame {
        padding: 20px 0;
    }
    .titleText {
        line-height: 64px;
        font-size: 64px;
    }

    .imagePlaceholder {
        height: 64px;
        margin: 0 18px;
    }

    .smallTitleText {
        font-size: 12px;
    }
}

@media only screen and (max-width: 839px) {
    .stringWithImageFrame {
        padding: 20px 0;
    }

    .titleText {
        line-height: 46px;
        font-size: 46px;
    }

    .imagePlaceholder {
        height: 46px;
        margin: 0 10px;
    }

    .smallTitleText {
        font-size: 12px;
    }
}

@media only screen and (max-width: 639px) {
    .stringWithImageFrame {
        padding: 20px 0;
    }

    .titleText {
        line-height: 28px;
        font-size: 28px;
    }

    .imagePlaceholder {
        height: 50px;
        margin: 0 5px;
    }

    .smallTitleText {
        font-size: 10px;
    }
}

@media only screen and (max-width: 413px) {
    .stringWithImageFrame {
        padding: 16px 0;
    }

    .titleText {
        line-height: 24px;
        font-size: 24px;
    }

    .imagePlaceholder {
        height: 36px;
        margin: 0 5px;
    }

    .smallTitleText {
        font-size: 8px;
    }
}
