.headerArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nameFrame {
    padding: 5vw;
}

.name {
    padding: 0;
}

.logo {
    width: 200px;
    height: 24px;
}

.linksFrame {
    padding: 5vw;
}

.links {
    padding: 0px;
}

.link {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    color: #4f4f4f;
    padding: 0 10px;
}
