.headerArea {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoFrame {
    width: 50%;
    padding: 90px 7% 0;
}

.logo {
    width: 200px;
    height: 33px;
}

.menuFrame {
    width: 50%;
    padding: 90px 7% 0;
}

.menu {
    padding: 0px;
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 1600px) {
    .logoFrame {
        padding: 5.625vw 7% 0;
    }

    .menuFrame {
        padding: 5.625vw 7% 0;
    }
}

.menuItem {
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    font-weight: 400;
    color: rgba(71, 72, 72, .5);
    cursor: pointer;
}

.menuItemLeft {
    padding-right: 7.5%;
}

.menuItemRight {
    padding-left: 7.5%;
}

.inactive {
    cursor: default;
    color: rgba(71, 72, 72, 1);
}

.dark {
    color: #000000;
}

.light {
    color: #ffffff;
}
