.headerArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nameFrame {
    padding: 5vw;
}

.name {
    font-size: 1em;
    color: #4f4f4f;
}

.linksFrame {
    padding: 5vw;
}

.links {
    padding: 0px;
}

.link {
    padding: 0 10px;
}
