.footerArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactFrame {
    padding: 5vw;
}

.contact {
    font-size: .7em;
    color: #4f4f4f;
}

.contactItem {
    height: 1.6em;
}

.socialFrame {
    padding: 5vw;
}

.social {
    padding: 0px;
}

.icon {
    padding: 0 5px;
    width: 40px;
}
