.feedbackArea {
    padding: 0;
}

.feedbackFrame {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    padding: 20px 0;
    text-align: left;
    font-size: 35px;
    font-weight: 700;
    color: #484747
}

.textFrame {
    padding: 0;
    width: 80%;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.rowItem {
    width: 40%;
    padding: 36px 0;
}

.itemLeft {
    padding-right: 10%;
}

.itemRight {
    padding-left: 10%;
}

@media only screen and (max-width: 768px) {
    .rowItem {
        width: 100%;
    }

    .itemLeft {
        padding-right: 0;
    }

    .itemRight {
        padding-left: 0;
    }
}