@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

body {
    font-family: 'Karla', sans-serif;
    background-color: #e5e6ea;
    margin:0px;
    padding:0px;
}
